<div *ngFor="let item of treeList;let idx  = index;">
	<div class="open-tree-item" *ngIf="item.name">
		<div class="open-tree-item-header" *ngIf="!item._toggleToEdit">
			<div class="open-tree-item-fold">
				<button *ngIf="item.children && 0 < item.children.length" mat-icon-button (click)="btnToggleUnFold(item)">
					<mat-icon class="mat-icon-rtl-mirror">
						{{item._toggleToUnFold ? 'expand_more':'chevron_right'}}
					</mat-icon>
				</button>
			</div>
			<div class="open-tree-item-op" *ngIf="checkboxAble">
				<mat-checkbox color="primary" [checked]="item.checked" (change)="toggleCheckbox(item,$event.checked,true)"></mat-checkbox>
			</div>
			<div class="open-tree-item-op" cursor-pointer (click)="btnItemClick(item)">
				{{item.name}}
			</div>
			<div class="open-tree-item-op">
				<!-- 新增子节点 -->
				<button mat-icon-button (click)="btnAddChild(item)" *ngIf="_addAble && item.addAble && 0 !== childrenHierarchy">
					<mat-icon>add</mat-icon>
				</button>
				<!-- 编辑当前节点 -->
				<button mat-icon-button (click)="btnModifyCurrentItem(item)" *ngIf="_editAble && item.editAble">
					<mat-icon>edit</mat-icon>
				</button>
				<!-- 删除当前节点 -->
				<button mat-icon-button (click)="btnRemoveCurrentItem(idx)" *ngIf="_removeAble && item.removeAble && (this.parentObjs || 1 < this.treeList.length)">
					<mat-icon>close</mat-icon>
				</button>
			</div>
		</div>
		<!-- 编辑当前节点 -->
		<div class="open-tree-item-header" *ngIf="_editAble && item._toggleToEdit">
			<div class="open-tree-item">
				<div class="open-tree-item-header">
					<div class="open-tree-item-fold">
					</div>
					<mat-form-field w-150>
						<input matInput [(ngModel)]="_nameForModify">
						<button mat-button *ngIf="_nameForModify" matSuffix mat-icon-button aria-label="Clear" (click)="_nameForModify=''">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
					<button mat-icon-button (click)="btnSaveModifiedItem(item)">
						<mat-icon>done</mat-icon>
					</button>
				</div>

			</div>
		</div>
		<!-- 子节点 -->
		<div class="open-tree-item-children" [hidden]="!item._toggleToUnFold" *ngIf="0 !== childrenHierarchy">
			<crm-open-tree-item
				[parentObjs]="parentObjs | arrayPush:pureItem(item)"
				[treeList]="item.children"
				[handlerModify]="handlerModify"
				[handlerAdd]="handlerAdd"
				[handlerRemove]="handlerRemove"
				[childrenHierarchy]="childrenHierarchy?childrenHierarchy-1:childrenHierarchy"
				[checkboxAble]="checkboxAble"
				(handlerItemClick)="handlerItemClick.emit($event)"
				(treeListChanged)="changeItemTreeList(item,$event)"
				(allCheckedChanged)="toggleCheckbox(item,$event)"></crm-open-tree-item>
		</div>
	</div>
	<!-- 增加的节点 -->
	<div class="open-tree-item" *ngIf="_addAble && item._toggleToAdd">
		<div class="open-tree-item-header">
			<div class="open-tree-item-fold">
			</div>
			<mat-form-field w-120 p-l-10>
				<input matInput [(ngModel)]="_nameForAdd">
				<button mat-button *ngIf="_nameForAdd" matSuffix mat-icon-button aria-label="Clear" (click)="_nameForAdd=''">
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
			<button mat-icon-button (click)="btnSaveChild(item)">
				<mat-icon>done</mat-icon>
			</button>
		</div>
	</div>
</div>
